.main-cont {
    box-shadow: 0 0 5px #d1d1d1;
}
h2.title-text {
    text-align: center;
}
::marker {
    color: transparent;
}
/*     Navbar    */
a#dropdown01 {
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
}
nav.navbar.navbar-expand-lg {
    box-shadow: 0px -10px 12px #000;
    width: 100%;
}
a.anav {
    color: #000 !important;
}
a.nav-link:hover {
    position: relative;
    color: #00b4ff;
}
a.aa {
    text-decoration: none;
}
::marker {
    color: transparent;
}
/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}
#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #0880e8;
    border-top-color: #bfe0fd;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}
@-webkit-keyframes animate-preloader {
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
    }
}
@keyframes animate-preloader {
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
    }
}
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #2d71a1;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
}
.back-to-top i {
    font-size: 25px;
    color: #fff;
    line-height: 0;
}
.back-to-top:hover {
    background: #3687c1;
    color: #fff;
}
.back-to-top.active {
    visibility: visible;
    opacity: 1;
}
